<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="3"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="lymao0887@gmail.com"/>
  <add key="FromEmailPassword" value="$lymao87"/>
  <add key="FromName" value="LÝ Văn Mão"/>
  <add key="AdminEmail" value="lymaodt@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:63436/"/>

  <add key="ReportFolder" value="/Reports"/>
</appSettings>
